.header-container {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 22px;

}

.select {
    background-color: #0163d2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 21px;
    font-weight: 600;
    border-radius: 4px;
    margin-right: 10px;
    position: relative;
    height: 70px;
    width: 320px;
    justify-content: center;
    margin-left: 105px;
    border-radius: 7px;
}

.select select {
    padding: 13px 15px;
    -moz-appearance: none;
    appearance: none;
    background-color: #0163d2;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 21px;
    font-weight: 600;
    border-radius: 4px;
    margin-left: -20px;
    margin-right: -20px;
    position: relative;
    height: 70px;
    width: 320px;
    justify-content: center;
    border-radius: 7px;
}

.select select::-ms-expand {
    display: block;
}

.select select:hover,
.select select:focus {

    background: #0163d2;
}

.select select:disabled {
    opacity: 0.5;
    pointer-events: none;
}

.select select option {
    border: none;
}

.select_arrow {
    position: absolute;
    top: 31px;
    right: 12px;
    pointer-events: none;
    border-style: solid;
    border-width: 12px 7px 0px 9px;
    border-color: white transparent transparent transparent
}

.select select:hover~.select_arrow,
.select select:focus~.select_arrow {
    border-top-color: white;
}

.select select:disabled~.select_arrow {
    border-top-color: blue;
}


.search-container {
    display: flex;
    flex-grow: 1;
    margin-right: 20px;
    overflow: hidden
}

.search-input {
    flex-grow: 1;
    padding: 30px;
    height: 70px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ddd;
    font-size: 25px;
}

.search-button {
    background-color: #0163d2;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    width: 70px;
}

.support-info {
    display: flex;
    justify-content: center;
    height: 70px;
    width: 330px;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    border: 2px solid #e5e5e5;
    border-radius: 7px;
    margin-right: 68px;
}

.support-number {
    font-size: 18px;
    font-weight: 500;
    color: #0066cc;
    text-decoration: none;
    margin-bottom: 5px;
    font-weight: bolder;
}

.support-text {
    font-size: 16px;
    color: gray;
}