{% extends "base_withsearch.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/home.css' %}"> 
{% endblock %}

{% block body %}
  
    <div class="about-container">
       
        <div class="title_box" style="margin-left: 93px;">
            <h2 class="sub_title">HP - Pavilion Wave</h2>
            <h1 class="title">DESKTOP INTEL CORE i3</h1>
            <p class="desc">Get 5% Bonus Coupon with No Min. Purchase Now</p>
        </div>
        <div class="about-image">
            <img src="{% static 'images/slider-02.png' %}" alt="About Our Store">
        </div>
    </div>
    <section id="products" class="product-grid">
    <div class="container">
        <div class="sidebar">
            <section class="product-tags-section">
                <h3>Product Tags</h3>
                <hr>
                <div class="tags">
                    <a href="#">Clothes</a>
                    <a href="#">Fashion</a>
                    <a href="#">Handbag</a>
                    <a href="#">Laptop</a>
                </div>
            </section>
            
            <h3>Top Rated Products</h3>
            <ul>
                <li>
                    <img src="{% static 'images/product1.png' %}" alt="Product 1">
                    <div class="product-details">
                        <p>Ornare sed consequat nisi eget mi porttitor</p>
                        <div class="rating">★★★★★</div>
                        <span>$110.00</span>
                    </div>
                </li>
                <li>
                    <img src="{% static 'images/product10.png' %}" alt="Product 2">
                    <div class="product-details">
                        <p>Epicuri per lobortis eleifend ultrices</p>
                        <div class="rating">★★★★☆</div>
                        <span>$68.00</span>
                    </div>
                </li>
                <li>
                    <img src="{% static 'images/product5.png' %}" alt="Product 2">
                    <div class="product-details">
                        <p>Epicuri per lobortis eleifend ultrices</p>
                        <div class="rating">★★★★☆</div>
                        <span>$68.00</span>
                    </div>
                </li>
                <li>
                    <img src="{% static 'images/product8.png' %}" alt="Product 2">
                    <div class="product-details">
                        <p>Epicuri per lobortis eleifend ultrices</p>
                        <div class="rating">★★★★☆</div>
                        <span>$68.00</span>
                    </div>
                </li>
                <li>
                    <img src="{% static 'images/product2.png' %}" alt="Product 2">
                    <div class="product-details">
                        <p>Epicuri per lobortis eleifend ultrices</p>
                        <div class="rating">★★★★☆</div>
                        <span>$68.00</span>
                    </div>
                </li>
                <li>
                    <img src="{% static 'images/product7.png' %}" alt="Product 2">
                    <div class="product-details">
                        <p>Epicuri per lobortis eleifend ultrices</p>
                        <div class="rating">★★★★☆</div>
                        <span>$68.00</span>
                    </div>
                </li>
              
                <!-- Add more products here -->
            </ul>
            
        </div>

        <div class="our-products-heading">
            <h2 style="margin-left: -10%;">Our Products</h2>
        <div class="grid" >
                {% for product in products %}
                <div class="product_item" style="width: 316px;overflow:hidden;">
                    <a href="{% url 'product_description' product.id %}" style="text-decoration: none;">
                        <div class="product_image">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                        </div>
                        <div class="product_desc">
                            <div class="product_title" style="font-size:23px;color:black;">
                                {{ product.name }}
                            </div>
                            <div class="product_rating" style="display: flex;justify-content: center;">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="product_price">
                                <span class="price" style="color: #000;font-size: 20px;">
                                    ${{ product.price }} <small></small>
                                </span>
                            </div>
                        </div>
                    </a>
                    <div class="links">
                        <div class="button-container">
                            <a href="{% url 'add_to_cart' product.id %}" class="add-to-cart" style="text-decoration:none;">
                                ADD TO CART
                            </a>
                            <button class="wishlist"><i class="fa-regular fa-heart"></i></button>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="disc">
                    <p style="position: relative;left: 27.7vw;top: 227%;font-size: 26px;">No products available for this category.</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>



{% endblock %}

{% block extra_js %}
<script src="{% static 'js/sidebar.js' %}" ></script>
{% endblock %}














{% comment %} <div class="product">
    <img src="{% static 'images/product2.png' %}" alt="product 2">
    <h3>Smart Watch</h3>
    <p>$199</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="{% static 'images/product3.png' %}" alt="product 3">
    <h3>Wireless Earbuds</h3>
    <p>$99</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="{% static 'images/product4.png' %}" alt="product 4">
    <h3>Laptop</h3>
    <p>$999</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="{% static 'images/product5.png' %}" alt="product 5">
    <h3>Smartphone</h3>
    <p>$499</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="{% static 'images/product6.png' %}" alt="product 6">
    <h3>Smart Watch</h3>
    <p>$199</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="{% static 'images/product7.png' %}" alt="product 7">
    <h3>Wireless Earbuds</h3>
    <p>$99</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="{% static 'images/product8.png' %}" alt="product 8">
    <h3>Laptop</h3>
    <p>$999</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="{% static 'images/product9.png' %}" alt="product 9">
    <h3>Smartphone</h3>
    <p>$499</p>
    <button>Add to Cart</button>
</div>
<div class="product">
    <img src="{% static 'images/product10.png' %}" alt="product 10">
    <h3>Smart Watch</h3>
    <p>$199</p>
    <button>Add to Cart</button>
</div> {% endcomment %}